<div class="container">

    <img src="../../../assets/turtle.png" class="img-fluid my-4 animate__animated animate__zoomIn" alt="">


    <div class="row">

        <div class="col">
            <div class="card mx-auto animate__animated animate__zoomIn" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">About the page</h5>
                    <p class="card-text">A simple web aplication made in Angular, consuming a Pokemon Api: <span
                            class="text-decoration-bold">PokéApi</span>, you can search pokemons by name or by type.</p>
                    <a href="https://pokeapi.co/" class="card-link">PokéApi</a>
                </div>
            </div>

        </div>

        <div class="col">
            <div class="card mx-auto animate__animated animate__zoomIn" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">The code</h5>
                    <p class="card-text">I'm going to let the link below to the repository in case someone wants to
                        improve or look about this page.</p>
                    <a href="#" class="card-link">MagicAedo/PokeSearch</a>
                </div>
            </div>
        </div>


    </div>
</div>